body{
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
    color: rgb(0 0 0);
}
a:hover{
    color: coral;
}
ul{
    list-style-type: square;
}

/**/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/**/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    display: flex;
    gap: 15px;
    padding-top: 40px;
}

.header-title img {
    width: 50px;
}

.header-subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    opacity: 0.8;
}

.header-subtitle p {
    font-size: 25px;
    margin: 0;
}

.header-nav-container {
    border-top: 1px solid rgb(0 0 0 / 0.2);
    padding-top: 10px;
}

.header-nav {
    display: flex;
    gap: 10px;

    a {
        color: rgb(0 0 0 / 0.5);

        &:hover {
            border-bottom: 1px solid rgb(0 0 0 / 0.2);
        }
    }
}


/* Enlaces */
.links-block{
    background-color: rgba(241, 236, 216, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.links-title{
    padding: 0 20px;
    font-weight: 100;
    font-size: 20px;
    opacity: 0.2;
    text-align: start;
}

.link-item{
    padding: 10px;
    border-bottom: 1px solid rgba(0 0 0 / 0.2);
}