body {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(128 128 128 / 0.3);
  border-radius: 5px;
  
  & > input {
    flex: 1 1 10ch;
    margin: .5rem;
    
    &[type="email"] {
      flex: 3 1 30ch;
    }
  }
}

input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  
  &[type="submit"] {
    background: rgb(28, 127, 140);
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(50% 50% 50%);
  }
}
